Repository AsyncCommunityDiscord/OmniBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --experimental-cli --check, oxlint --deny-warnings, pnpm --package=renovate dlx renovate-config-validator --strict

.lintstagedrc:

{
  "**/*.{js,mjs,cjs,ts,mts,cts}": [
    "prettier --experimental-cli --check",
    "oxlint --deny-warnings"
  ],
  "**/*.{md,json}": "prettier --experimental-cli --check",
  "renovate.json": "pnpm --package=renovate dlx renovate-config-validator --strict"
}

refactor!: short name for migration
  src/prisma/migrations/20250819145643_add_module_version/migration.sql
Due: none

feat: add thread creation module
  package-lock.json
  src/modules/thread-creator/commands/thread-config.command.ts
  src/modules/thread-creator/data/thread-creator.ts
  src/modules/thread-creator/listeners/message-create.listener.ts
  src/modules/thread-creator/models/thread-creator-config.prisma
  src/modules/thread-creator/services/thread-creator.service.ts
  src/modules/thread-creator/thread-creator.module.ts
  src/prisma/migrations/20250901202925_needle/migration.sql
  src/prisma/migrations/20250903185021_drop_thread_type/migration.sql
Due: prettier --experimental-cli --check, oxlint --deny-warnings

refactor(thread-creator): unique migration
  src/prisma/migrations/20250901202925_thread_creator/migration.sql
  src/prisma/migrations/20250903185021_drop_thread_type/migration.sql
Due: none

refactor(thread-creator): use guildId as PK
  src/modules/thread-creator/models/thread-creator-config.prisma
  src/prisma/migrations/20250901202925_thread_creator/migration.sql
  src/prisma/schema.prisma
Due: none

chore(thread-creator): remove package-lock.json
  package-lock.json
Due: prettier --experimental-cli --check

chore: add .env.example
  .env.example
Due: none

refactor: readable names for magic values
  src/core/commands/module.command.ts
  src/modules/thread-creator/commands/thread-config.command.ts
  src/utils/colors.ts
Due: prettier --experimental-cli --check, oxlint --deny-warnings
