Repository AsyncCommunityDiscord/OmniBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, oxlint --deny-warnings, pnpm --package=renovate dlx renovate-config-validator --strict

fix: autocomplete interactions now look for modules too
  src/core/listeners/interaction-create.listener.ts
Due: prettier --check, oxlint --deny-warnings

fix: remove declare
  src/lib/config.ts
Due: prettier --check, oxlint --deny-warnings

feat: enhance configuration handling and add service
  package.json
  src/core/commands/config.command.ts
  src/core/core.module.ts
  src/core/models/config.prisma
  src/core/services/config.service.ts
  src/lib/command.ts
  src/lib/config.ts
  src/lib/interaction.ts
  src/lib/listener.ts
  src/lib/module.ts
  src/lib/registry.ts
  src/prisma/migrations/20250827205601_add_guild_configuration_table/migration.sql
  src/prisma/schema.prisma
Due: prettier --check, oxlint --deny-warnings

feat: add module configuration display and update config command
  src/core/commands/config.command.ts
  src/core/utils/core.messages.ts
  src/lib/config.ts
  src/utils/colors.ts
Due: prettier --check, oxlint --deny-warnings

fix: rename core-messages.ts to core.messages.ts to follow project conventions
  src/core/commands/module.command.ts
  src/core/interactions/disable-module.button.ts
  src/core/interactions/enable-module.button.ts
  src/core/utils/core.messages.ts
Due: prettier --check, oxlint --deny-warnings

feat: add config type handler classes and module config editing interactions
  src/core/config/config-type-handler.ts
  src/core/config/config-type-handlers.ts
  src/core/config/number-config-handler.ts
  src/core/config/string-config-handler.ts
  src/core/core.module.ts
  src/core/interactions/configure-module.button.ts
  src/core/interactions/toggle-option.button.ts
  src/core/services/config.service.ts
  src/core/utils/core.messages.ts
Due: prettier --check, oxlint --deny-warnings

refactor: config handlers now use ContainerBuilder and keyof TSchema
  src/core/config/config-type-handler.ts
  src/core/config/number-config-handler.ts
  src/core/config/string-config-handler.ts
  src/core/utils/core.messages.ts
Due: prettier --check, oxlint --deny-warnings

fix: refactor register method to use generics
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

fix: register configure and toggle option buttons in core module
  src/core/core.module.ts
Due: prettier --check, oxlint --deny-warnings

fix: config does not exist yet in master
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

fix: erros and inline handler registration in Registry class
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

feat: add abstraction to use configuration in modules
  src/core/commands/config.command.ts
  src/core/listeners/interaction-create.listener.ts
  src/core/loaders/listener-loader.ts
  src/core/services/config.service.ts
  src/lib/command.ts
  src/lib/config.ts
  src/lib/interaction.ts
  src/lib/listener.ts
  src/lib/module.ts
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

feat: add abstraction to use configuration in modules
  src/core/listeners/interaction-create.listener.ts
  src/lib/listener.ts
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

feat: add config schema typing to registry declarations
  src/lib/registry.ts
Due: prettier --check, oxlint --deny-warnings

fix: allow editedField to be optional in configurationMessage
  src/core/utils/core.messages.ts
Due: prettier --check, oxlint --deny-warnings

fix: update badge links in README for OmniBot
  README.md
Due: prettier --check

docs: update docs to use registry.register and add interactions guide
  docs/commands.md
  docs/interactions.md
  docs/listeners.md
  docs/modules.md
Due: prettier --check

feat: adds thread creation module
  package-lock.json
  package.json
  src/modules/thread-creator/commands/thread-config.command.ts
  src/modules/thread-creator/listeners/message-create.listener.ts
  src/modules/thread-creator/models/thread-creator-config.prisma
  src/modules/thread-creator/services/thread-creator.service.ts
  src/modules/thread-creator/thread-creator.module.ts
  src/prisma/migrations/20250901202925_needle/migration.sql
  src/prisma/migrations/20250903185021_drop_thread_type/migration.sql
Due: prettier --check, oxlint --deny-warnings

feat: fix pr
  src/modules/thread-creator/services/thread-creator.service.ts
Due: prettier --check, oxlint --deny-warnings

fix: remove package-lock.json
  package-lock.json
Due: prettier --check

feat: fix pr
  .oxlintrc.json
  package.json
  src/modules/thread-creator/commands/thread-config.command.ts
  src/modules/thread-creator/data/thread-creator.ts
  src/modules/thread-creator/listeners/message-create.listener.ts
  src/modules/thread-creator/services/thread-creator.service.ts
Due: prettier --check, oxlint --deny-warnings

feat: pr
  .oxlintrc.json
  src/modules/thread-creator/data/thread-creator.ts
  src/modules/thread-creator/services/thread-creator.service.ts
Due: prettier --check, oxlint --deny-warnings

chore(renovate): automerge dotenv, lintstaged, pnpm & node
  renovate.json
Due: prettier --check, pnpm --package=renovate dlx renovate-config-validator --strict

chore(prettier): make it run faster
  .github/workflows/ci.yml
  .lintstagedrc
Due: none

chore: switch to tsx for dev command
  docs/prisma.md
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: remove unneeded dependency dotenv
  bootstrap/validate-env-vars.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check, oxlint --deny-warnings

chore(renovate): rm dotenv
  renovate.json
Due: prettier --check, pnpm --package=renovate dlx renovate-config-validator --strict

chore: add format command
  package.json
Due: prettier --check

chore: fix prisma:migrate command
  package.json
Due: prettier --check

Path conditions:
  prettier --check: (any of: **/*.{js,mjs,cjs,ts,mts,cts}) or (any of: **/*.{md,json})
  oxlint --deny-warnings: any of: **/*.{js,mjs,cjs,ts,mts,cts}
  pnpm --package=renovate dlx renovate-config-validator --strict: any of: renovate.json
