Repository AsyncCommunityDiscord/OmniBot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint --max-warnings 0

.lintstagedrc:

{
  "**/*.{js,mjs,cjs,ts,mts,cts}": [
    "prettier --check",
    "eslint --max-warnings 0"
  ],
  "**/*.{md,json}": "prettier --check"
}

chore: improve tsc configuration
  tsconfig.json
Due: prettier --check

chore: update dev script to use esm loader for ts-node
  package.json
Due: prettier --check

chore: improve ts config
  tsconfig.json
Due: prettier --check

chore: fix main field in package.json
  package.json
Due: prettier --check

feat: add the beginning of a module system
  src/index.ts
  src/lib/declared.ts
  src/lib/module.ts
  src/loader/loader.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

refactor: declare function instead of putting lambdas in constants
  src/lib/module.ts
  src/loader/loader.ts
Due: prettier --check, eslint --max-warnings 0

feat: add install and uninstall methods to module interface
  src/lib/module.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

refactor: simplify loader code
  src/loader/loader.ts
Due: prettier --check, eslint --max-warnings 0

docs: add type definitions documentation for module and declared types
  src/lib/declared.ts
  src/lib/module.ts
Due: prettier --check, eslint --max-warnings 0

feat: introduce DeclarationType enum for improved type safety in declared modules
  src/lib/declared.ts
  src/lib/module.ts
  src/loader/loader.ts
Due: prettier --check, eslint --max-warnings 0

chore: add start command, make husky setup optional
  package.json
Due: prettier --check

chore(dev): validate env variables, load .env in dev environment
  bootstrap/validate-env-vars.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --max-warnings 0

feat: add bot login, add support for module intents
  src/index.ts
  src/lib/module.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

refactor: update module interface to include client instance in parameters
  src/index.ts
  src/lib/module.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

feat: implement command interface and declareCommand function for modular command registration
  src/lib/command.ts
  src/lib/declared.ts
  src/modules/example/commands/test.command.ts
Due: prettier --check, eslint --max-warnings 0

refactor: moved loader to a core module and renamed it for more clarity
  src/core/module-loader.ts
  src/index.ts
Due: prettier --check, eslint --max-warnings 0

feat: add a command loader and module registry to register commands
  src/core/command-loader.ts
  src/index.ts
  src/lib/module.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

refactor: renamed module hooks
  src/index.ts
  src/lib/module.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

chore: fix linter errors in readme & package.json
  README.md
  package.json
Due: prettier --check

chore: speedup commit check time using oxlint
  .lintstagedrc
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --max-warnings 0

chore: replace eslint with oxlint
  .lintstagedrc
  .oxlintrc.json
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --check, eslint --max-warnings 0

feat: enhance command registration with autocomplete support and core registry integration
  src/core/command-loader.ts
  src/core/commands/module.command.ts
  src/core/core-registry.ts
  src/index.ts
  src/lib/command.ts
Due: prettier --check, eslint --max-warnings 0

feat: implement event listener registration and command handling for Discord interactions
  src/core/commands/module.command.ts
  src/core/core-registry.ts
  src/core/listener-loader.ts
  src/core/listeners/command.listener.ts
  src/index.ts
  src/lib/declared.ts
  src/lib/listener.ts
  src/lib/module.ts
  src/lib/registry.ts
Due: prettier --check, eslint --max-warnings 0

feat: add Prisma integration with schema consolidation and PostgreSQL setup
  .gitignore
  .prettierignore
  bootstrap/validate-env-vars.mjs
  compose.yml
  docs/prisma.md
  package.json
  pnpm-lock.yaml
  prisma.config.ts
  scripts/consolidate-schema.ts
  src/core/models/modules.prisma
  src/index.ts
  src/prisma/dbinfo.prisma
  src/prisma/migrations/20250818161012_init/migration.sql
  src/prisma/migrations/migration_lock.toml
  src/prisma/schema.prisma
Due: prettier --check, eslint --max-warnings 0

chore: add .idea directory to .gitignore for IDE configuration files
  .gitignore
Due: none

feat: implement module management with installation and uninstallation commands
  src/core/commands/module.command.ts
  src/core/listeners/command.listener.ts
  src/core/services/module.service.ts
  src/lib/command.ts
  src/lib/database.ts
  src/lib/declared.ts
  src/lib/service.ts
  src/modules/example2/commands/test.command.ts
  src/modules/example2/example.module.ts
  src/utils/colors.ts
Due: prettier --check, eslint --max-warnings 0

refactor: change core registry to module structure
  src/core/core-registry.ts
  src/core/core.module.ts
  src/core/listeners/command.listener.ts
  src/core/loaders/command-loader.ts
  src/core/loaders/listener-loader.ts
  src/core/loaders/module-loader.ts
  src/index.ts
Due: prettier --check, eslint --max-warnings 0

fix: core module was never loaded
  src/index.ts
Due: prettier --check, eslint --max-warnings 0

fix: modules are not loaded properly
  src/core/loaders/module-loader.ts
Due: prettier --check, eslint --max-warnings 0

feat: add command registration on per-module per-guild basis
  src/core/commands/module.command.ts
  src/core/loaders/command-loader.ts
  src/core/loaders/module-installer.ts
  src/core/services/module.service.ts
  src/modules/example2/commands/other-test.command.ts
  src/modules/example2/example2.module.ts
Due: prettier --check, eslint --max-warnings 0

feat: implement structured logging for better readability
  package.json
  pnpm-lock.yaml
  src/core/commands/module.command.ts
  src/core/listeners/command.listener.ts
  src/core/loaders/command-loader.ts
  src/core/loaders/module-loader.ts
  src/lib/logger.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

Update src/core/loaders/command-loader.ts
  src/core/loaders/command-loader.ts
Due: prettier --check, eslint --max-warnings 0

feat: implement structured logging for better readability (#2)
  package.json
  pnpm-lock.yaml
  src/core/commands/module.command.ts
  src/core/listeners/command.listener.ts
  src/core/loaders/command-loader.ts
  src/core/loaders/module-loader.ts
  src/lib/logger.ts
  src/modules/example/example.module.ts
Due: prettier --check, eslint --max-warnings 0

feat: enhance command handling to support module commands per guild
  src/core/listeners/command.listener.ts
Due: prettier --check, eslint --max-warnings 0

feat: add module-specific event listener registration
  src/core/loaders/listener-loader.ts
  src/core/services/module.service.ts
  src/index.ts
  src/lib/listener.ts
  src/modules/example/example.module.ts
  src/modules/example/listeners/message.listener.ts
Due: prettier --check, eslint --max-warnings 0

chore: improve logging capabilities
  src/core/loaders/command-loader.ts
  src/core/loaders/listener-loader.ts
  src/core/loaders/module-loader.ts
  src/lib/logger.ts
Due: prettier --check, eslint --max-warnings 0

fix: typo
  src/core/loaders/module-loader.ts
Due: prettier --check, eslint --max-warnings 0

feat: add enable/disable module button interactions and update module management command
  src/core/commands/module.command.ts
  src/core/core.module.ts
  src/core/interactions/disable-module.button.ts
  src/core/interactions/enable-module.button.ts
  src/core/utils/core-messages.ts
  src/modules/example/example.module.ts
  src/modules/example/listeners/message.listener.ts
Due: prettier --check, eslint --max-warnings 0

feat: implement version management for modules so that commands can be updated
  src/core/core.module.ts
  src/core/loaders/command-loader.ts
  src/core/loaders/module-installer.ts
  src/core/models/modules.prisma
  src/core/services/module.service.ts
  src/core/utils/core-messages.ts
  src/core/utils/version-parser.ts
  src/index.ts
  src/lib/module.ts
  src/lib/version.ts
  src/prisma/migrations/20250819145643_added_a_version_to_the_activated_modules_to_check_for_command_changes/migration.sql
  src/prisma/schema.prisma
Due: prettier --check, eslint --max-warnings 0

docs: add documentation for commands, listeners, modules, and services
  docs/README.md
  docs/commands.md
  docs/listeners.md
  docs/modules.md
  docs/prisma.md
  docs/services.md
Due: prettier --check
